$(document).ready(function() {
  var counter;
  
  <% @tweets.each do |tweet| %>
    $('#right ul').prepend('<%= escape_javascript(display(tweet)) %>');
  <% end %>
  
  scroll();
  
  function scroll() {
    console.log("scroll function called");
    var target = $('#right li:first');
    target.slideUp(1000, function() {
      var old = "<li>" + target.html() + "</li>";
      target.remove();
      $('#right ul').append(old);
    });
    counter = setTimeout(scroll, 3000);
  }
});
