@charset "utf-8";
/* CSS Document */

/*******************************************************************************************/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
/*******************************************************************************************/
/*******************************************************************************************/
html, body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  height: 100%;
}

a, a:visited, a:active { color: #333; text-decoration: none; }
a:hover { color: #000; }
h1 { font-size: 56px; font-weight: normal; }
h2 { font-size: 36px; font-weight: normal; }
h3 { font-size: 24px; font-weight: normal; }
h4 { font-size: 18px; font-weight: normal; }

.errorExplanation {
  background-color: #fcdfff;
  border: 1px solid #800517;
}

.errorExplanation h2 {
  font-size: 24px;
  color: #e41b17;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.panel {
  height: 100%;
}

.version {
  font-style: italic;
}

#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#left {
  float: left;
  width: 200px;
}

#right {
  float: right;
}

#keywords {
  margin: 175px 0 0 25px;
}

#keywords li {
  padding-bottom: 25px;
}

#right h1 {
  display: inline;
  font-size: 60px;
}

#right h3 {
  display: inline;
}

#right li {
  padding: 20px 0;
}

#keywords a:hover {
 background-color: #f9f9f9;
}

.apple a:hover, h1.apple {
  color: #999;
}

.microsoft a:hover, h1.microsoft {
  color: #0cade3;
}

.google a:hover .g,  h1.google  .g  { color: #4974e4; }
.google a:hover .oe, h1.google  .oe { color: #eb2834; }
.google a:hover .o,  h1.google  .o  { color: #f8a509; }
.google a:hover .l,  h1.google  .l  { color: #04a616; }

#about-link {
  margin: 25px 0 0 25px;
  cursor: pointer;
}

#about {
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 25px;
  margin: 25px 0 0 25px;
}

#about a {
  font-weight: bold;
}
