<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "main" %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
</head>
<body>
  <div id="container">
    <input type="hidden" id="counter" value="" />
    <div class="panel" id="left">
      <ul id="keywords">
        <li class="apple"><h2><a href="#">apple</a></h2></li>
        <li class="microsoft"><h2><a href="#">microsoft</a></h2></li>
        <li class="google"><h2><a href="#"><span class="g">g</span><span class="oe">o</span><span class="o">o</span><span class="g">g</span><span class="l">l</span><span class="oe">e</span></h2></li>
      </ul>
    </div>
    <div class="panel" id="right">
      <ul>
      
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</body>
</html>
